body {
	background-color: DarkSlateGray;
	font-family: 'Open Sans', sans-serif;
}


h1 a{
	color: DarkCyan;
	padding: 7px 25px;
	display: block;
	width: 175px;
	text-decoration: none;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


nav li {
    float: right;
}



.nav{
	padding: 0;
	margin: 0;
}

#nav {
	background-color: DarkCyan;
	width: 100%;
	margin: 0;
}

nav a:link, a:visited {
    display: block;
    width: 140px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: DarkCyan;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#active{
	background-color: #006161;
}


nav a:hover, nav a:active {
    background-color: #00CC66;
    color:indigo;
}

nav li ul 	{
		display: none;
		height: auto;
		position: absolute;											
		}				


nav li:hover ul 	{
                        display: block;
                       width: 140px;
                       padding: 0px 0px;
                       padding-left: 20px;
                       margin:0;
                       overflow:hidden;
                        }

.title{
	color:#FFFFFF;
	font-size:250%;
	padding:0px 0px 0px 40px;
	display:block;
	width:50%;
	}                        

h3{
	color:#FFFFFF;
	padding: 0px 40px;
}                       
footer{
	text-align: left;
	color: #FFFFFF;
	bottom:0; 
	width:auto; 
	position:fixed;
	padding:0;
	background-color:DarkSlateGray;
}
